@{
    ViewBag.Title = "Projects";
}

<div class="row">
    <section class="small-12 medium-6 columns">
        <h3>myCoal ePermitting System</h3>
        <h4>State of Montana, Department of Environmental Quality</h4>
        <img src="@Url.Content("~/images/myCoal.png")" alt="myCoal State of Montana DEQ" />
    </section>
    <section class="small-12 medium-6 columns">
        <h3></h3>
    </section>
</div>

<div class="background-1">
    <div class="row">
        <section class="small-12">
            <h3>Thest</h3>
        </section>
    </div>
</div>
