@{
    ViewBag.Title = "Projects";
}

<div class="row">
    <section class="small-12">

    </section>
</div>

<div class="background-1">
    <div class="row">
        <section class="small-12">

        </section>
    </div>
</div>
