@{
    ViewBag.Title = "Home";
}


@section PageBanner{
    
    <div id="PageBanner" class="row">
        <div class="large-6 columns">
            <h1>Web Design and Development</h1>
            <h4>
                We provide a comprehensive range of web services, including design, development and search engine optimization.
            </h4>
        </div>
        <div class="large-6 columns">
            <a href="@Url.Action("TrailerOnline", "Products")">
                <img src="@Url.Content("~/Images/responsive-design.png")" alt="Responsive Design" />
            </a>
        </div>
    </div>
}





<div class="row">

    <div class="large-6 large-push-6 columns">
        <h3 class="product-title">★ ★ Trailer Online ★ ★</h3>
        <div class="pad">
            <p>
                Trailer Online is a simple and affordable website for displaying your auto or trailer inventory online. 
            </p>
            <ul>
                <li>Incredibly easy to use</li>
                <li>30-day free trial</li>
                <li>We have the best prices on the market</li>
                <li>@Html.ActionLink("Read More...", "TrailerOnline", "Products")</li>
            </ul>
            <p>See what others are saying, and visit their websites below.</p>
            <blockquote>
                Trailer Online is easy to use and has served my business well over the past 4 years. 
                <p>Stan, <a target="_blank" href="http://broweronline.com">Brower Online, Bradenton FL</a></p>
            </blockquote>
            <blockquote>
                I don't know much about computers, but I knew we needed a website. Small Business Online
                was very patient and easy to work with.
                <p>Jake, <a target="_blank" href="http://capitaltrailerhelena.com">Capital Trailer, Helena MT</a></p>
            </blockquote>
        </div>
    </div>
    

    <div class="large-6 large-pull-6 columns pad">
        <h2>Small Business Online</h2>
        <p>
            We specialize in developing software for small business and government agencies. 
            Our experienced staff will assist you at any point along your project from concept ideation to installing software on servers. 
        </p>
        
        <h3>Our Mission</h3>
        <p>
            We strive to create high-quality software to solve complex business problems while remaining within budget and time constraints.
        </p>

        <h3>Our Process</h3>
        <p>
            We keep costs down and quality high by following an agile project methodology. 
        </p>

        <h4>Envision</h4>
        <p>
            Project are conceived from visions of the future. Understanding that vision is critical to the success of your project.
        </p>

        <h4>Design</h4>
        <p>
            Graphic designers and html developers work with you to create a semi-functional prototype of the website. 
            The website looks finished, but it does not manage data. 
        </p>

        <h4>Develop</h4>
        <p>
            Programmers add code to the prototype bring the screens to life with real data and business rules. 
        </p>
        
        <h4>Deploy</h4>
        <p>
            The functional website is deployed to hosting servers, and your project is completed.
        </p>

        <h4>Support</h4>
        <p>
            The developers who created the solution are available to fix bugs or make enhancements.
        </p>
        

        @*
        <h3>Services</h3>
        <ul>
            <li>System architecture</li>
            <li>Software development</li>
            <li>Database design</li>
            <li>Data Import / Conversion</li>
        </ul>

        <h3>Technologies</h3>
        <ul>
            <li>Microsoft .NET, ASP, MVC, C#, VB</li>
            <li>HTML, CSS, Photography, Adobe Photoshop</li>
            <li>Javascript, jQuery, AJAX, JSON</li>
            <li>Microsoft SQL Server, Oracle</li>
            <li>Windows Hosting, Microsoft Azure Cloud</li>

        </ul>
        *@
    </div>

</div>