@{
    ViewBag.Title = "Home";
}


<section>
    <h1>Small Business Online</h1>
    <p>
        Small Business Online specializes in developing robust software solutions for small business and government agencies. 

    </p>
    <h4>Services</h4>
    <ul>
        <li>System architecture</li>
        <li>Software development</li>
        <li>Database design</li>
        <li>Data Import / Conversion</li>
        <li>Scrum Development</li>
        <li>Developer Mentoring / Training</li>
    </ul>

    <h4>Technologies</h4>
    <ul>
        <li>Microsoft .NET, ASP, MVC, C#, VB</li>
        <li>HTML, CSS, Photography, Adobe Photoshop</li>
        <li>Javascript, jQuery, AJAX, JSON</li>
        <li>Microsoft SQL Server, Oracle</li>
        <li>Windows Hosting, Microsoft Azure Cloud</li>

    </ul>
</section>

