@{
    ViewBag.Title = "Home";
}


@section PageBanner{
    <div class="two-panels">
        <div>
            <h1>Web Design and Development</h1>
            <h4>
                We provide a comprehensive range of web services, including design, development and search engine optimization.
            </h4>
        </div>
        <div>
            <img src="@Url.Content("~/Images/responsive-design.png")" alt="Responsive Design" />
        </div>
        <div class="clear"></div>
    </div>
}


<aside>
    <h3>★ ★ ★ Trailer Online ★ ★ ★</h3>
    <p>
        Trailer Online is a website designed for promoting auto or trailer inventory online. We give you an entire month
        to use the website without any limitations. You can keep any updates you make during the trial. 
    </p>
    <ul>
        <li>The first month is free with no limitations</li>
        <li>Use your own domain name</li>
        <li>Works on all devices including phones and tablets</li>
    </ul>
    <p>
        <img src="@Url.Content("~/Images/TrailerOnline.jpg")" alt="Trailer Online"/>
    </p>
</aside>

<section>
    <h2>Small Business Online</h2>
    <p>
        Small Business Online specializes in developing robust software solutions for small business and government agencies. 

    </p>
    <h3>Services</h3>
    <ul>
        <li>System architecture</li>
        <li>Software development</li>
        <li>Database design</li>
        <li>Data Import / Conversion</li>
        <li>Scrum Development</li>
        <li>Developer Mentoring / Training</li>
    </ul>

    <h3>Technologies</h3>
    <ul>
        <li>Microsoft .NET, ASP, MVC, C#, VB</li>
        <li>HTML, CSS, Photography, Adobe Photoshop</li>
        <li>Javascript, jQuery, AJAX, JSON</li>
        <li>Microsoft SQL Server, Oracle</li>
        <li>Windows Hosting, Microsoft Azure Cloud</li>

    </ul>
</section>



<div class="clear"></div>