@{
    ViewBag.Title = "Home";
}

<aside>
    <h2>Trailer Online</h2>
    <div class="panel">
        <img src="@Url.Content("~/images/TrailerOnline.jpg")" alt="Trailer Online" style="float:left;" />
        <p>
            Display your trailer invntory online with a website that was built for that purpose.
        </p>
        <strong>Trailer Online Is</strong>
        <ul>
            <li>Simple</li>
            <li>Affordable</li>
            <li>Effective</li>
        </ul>

        
    </div>
</aside>

<section>
    <h2>Software Development</h2>

</section>


<div style="clear:both;"></div>
