@{
    ViewBag.Title = "Services";
}

<div class="row">

</div>

<div class="row">
    <section class="small-12 medium-4 columns">
        <h3>Website Development</h3>
        <ul>
            <li>Responsive Web Design</li>
            <li>Search Engine Optimization</li>
            <li></li>
        </ul>
    </section>
    <section class="small-12 medium-4 columns">
        <h3>Database Development</h3>

    </section>
    <section class="small-12 medium-4 columns">

    </section>
</div>

<div class="row">
    <section class="small-12 medium-4 columns">
        <h3></h3>
    </section>
    <section class="small-12 medium-4 columns">
        <h3></h3>
    </section>
    <section class="small-12 medium-4 columns">
        <h3></h3>
    </section>
</div>