body, div, header, nav, article, footer, aside, section {
    margin: 0;
    padding: 0;
}
html {
}

body {
    background-color:#fff;
    font-family:Helvetica,Arial,sans-serif;
}

/*
    SOFT BLUE:      #B3C7CE
    BRIGHT BLUE:    #107E9D
    ORANGE:         #F26522
    GRAY:           #575757    
*/

.background-1 { background-color: #60BDFF; border-top:1px dashed #fff; border-bottom:1px dashed #fff; }


/* HTML ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - */
h1 { font-size:2.0em; color: #F26522; }
h2 { font-size:1.8em; color: #107E9D; }
h3 { font-size:1.4em; color: #555; }
h4 { font-size:1.2em; color: #555; }
h5 { font-size:1.0em; color: #555; }



blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}


/* CLASS DEFINITIONS
- - - - - - - - - - - - - - - - - - - - - - - - - */
.texture { background-image:url('/Images/texture.jpg'); }

.clear { clear: both; }

.center { text-align: center; }

.pad { padding: 20px; }

.nospace { padding: 0; margin: 0; } 

.product-title {
    background-color: #F26522;
    color:#fff;
    margin:0;
    padding:5px;
    text-align:center;
    -moz-border-radius-bottomleft: 75px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-bottom-left-radius:75px;
    -webkit-border-bottom-right-radius:75px;
    border-bottom-left-radius:75px;
    border-bottom-right-radius:75px;
    white-space: nowrap;
    border-bottom:3px dotted #fff;

}

/* HEADER
- - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    background-color:#575757;
}

    header ul {
        margin: 0;
    }


nav#MainNav {
    float:right;
    padding:49px 0 0 0;
    background-color:#575757;
    
}

nav#MainNav ul {
}

nav#MainNav ul li {
    display:inline-block;
}

nav#MainNav ul li a {
    display:inline-block;
    padding:2px 12px;
    color:#fff;
    font-size:1.2em;
    text-decoration: none;
    background-color:#777;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

nav#MainNav ul li a:hover { background-color: #F26522; }

nav#MainNav ul li a.selected { background-color: #B3C7CE; }

nav#MainNav ul li a.selected:hover { color: #fff; }










/* MAIN BODY CONTENT
- - - - - - - - - - - - - - - - - - - - - - - - - */

#PageBanner { 
    padding:20px;
}
#PageBanner h1 { text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.42); }
#PageBanner h4 { text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.42); }














/* FOOTER
- - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
    background-color: #575757;
    color: #fff;
    font-family: Helvetica,Arial,sans-serif;
    padding:20px;
}


footer h4 {
    color: #fff;
}



.TagLine {

}

.Copyright {
    font-size:0.8em;
    margin-top:5px;
}
