body, div, header, nav, article, footer, aside {
    margin: 0;
    padding: 0;
}
html {
}

body {
    min-width:452px;
    background-color:#fff;
    font-family:Helvetica,Arial,sans-serif;
    
}


/* HTML ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - */
h1 { font-size:2.0em; color: #F26522; }
h2 { font-size:1.8em; color: #107E9D; }
h3 { font-size:1.6em; color: #555; }
h4 { font-size:1.4em; color: #555; }
h5 { font-size:1.2em; color: #555; }





/* CLASS DEFINITIONS
- - - - - - - - - - - - - - - - - - - - - - - - - */
.panel {
    padding:10px;
}

.texture {
    background-image:url('/Images/texture.jpg');
}

.two-panels {
    clear:both;
}

.two-panels div:nth-child(1) {
    width:48%;
    float:left;
}

.two-panels div:nth-child(2) {
    width:48%;
    float:right;
}

.clear { clear: both; }


/* HEADER
- - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    background-color:#575757;
}

    header ul {
        margin: 0;
    }


nav#MainNav {
    float:right;
    padding:49px 0 0 0;
    background-color:#575757;
    
}

nav#MainNav ul {
}

nav#MainNav ul li {
    display:inline-block;
}

nav#MainNav ul li a {
    display:inline-block;
    padding:2px 12px;
    color:#fff;
    font-size:1.2em;
    text-decoration: none;
    background-color:#777;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

nav#MainNav ul li a:hover {
    background-color:#F26522;
}

nav#MainNav ul li a.selected {
    background-color:#FFF;
    color:#575757;
}










/* ARTICLE
- - - - - - - - - - - - - - - - - - - - - - - - - */
article {
    max-width:900px;
    margin:0 auto 0 auto;
    padding:20px;
}

#TopBanner { }
    #TopBanner h1 { text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.42); }
    #TopBanner h4 { text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.42); }

#MainContent {
    margin:20px auto 120px auto;
}

    #MainContent aside {
        float:right;
        width:400px;
        margin-top:-66px;
    }

        #MainContent aside h3 {
            background-color: #F26522;
            color:#fff;
            padding:8px;
            text-align:center;
            -moz-border-radius-bottomleft: 75px;
            -moz-border-radius-bottomright:75px;
            -webkit-border-bottom-left-radius:75px;
            -webkit-border-bottom-right-radius:75px;
            border-bottom-left-radius:75px;
            border-bottom-right-radius:75px;

        }










/* FOOTER
- - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
    background-color: #575757;
    color: #fff;
    font-family: Helvetica,Arial,sans-serif;
    /*position: fixed;
    width: 100%;
    bottom: 0;
    */
}


footer h4 {
    color: #fff;
}



.TagLine {

}

.Copyright {
    font-size:0.8em;
    margin-top:5px;
}
