body, div, header, nav, article, footer, aside {
    margin: 0;
    padding: 0;
}
html {
}

body {
    min-width:452px;
    background-color:#fff;
    font-family:Helvetica,Arial,sans-serif;
}


/* HTML ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - */
h1, h2, h3, h4, h5 {
    color: #555;
}


/* CLASS DEFINITIONS
- - - - - - - - - - - - - - - - - - - - - - - - - */
.panel {
    padding:10px;
}

/* HEADER
- - - - - - - - - - - - - - - - - - - - - - - - - */

header {
    background-color:#575757;
}

    header ul {
        margin: 0;
    }


nav#MainNav {
    float:right;
    padding:49px 0 0 0;
    background-color:#575757;
    
}

nav#MainNav ul {
}

nav#MainNav ul li {
    display:inline-block;
}

nav#MainNav ul li a {
    display:inline-block;
    padding:2px 12px;
    color:#fff;
    font-size:1.2em;
    text-decoration: none;
    background-color:#777;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

nav#MainNav ul li a:hover {
    background-color:#F26522;
}

nav#MainNav ul li a.selected {
    background-color:#FFF;
    color:#575757;
}



/* ARTICLE
- - - - - - - - - - - - - - - - - - - - - - - - - */
article {
    margin:20px auto 120px auto;
    padding:20px;
    max-width:900px;
    background-color:#fff;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
}




/* FOOTER
- - - - - - - - - - - - - - - - - - - - - - - - - */

footer {
    background-color:#575757;
    color:#fff;
    font-family:Helvetica,Arial,sans-serif;
    position:fixed;
    width:100%;
    bottom:0;
}

footer h4 {
    color: #fff;
}



.TagLine {

}

.Copyright {
    font-size:0.8em;
    margin-top:5px;
}
