@{
    ViewBag.Title = "Products";
}


<div class="row">
    <section class="medium-6 small-12 columns">
        
        <a href="@Url.Action("TrailerOnline", "Products")">
            <img src="@Url.Content("~/Images/responsive-design.png")" alt="Responsive Design" />
        </a>
    </section>
    <section class="medium-6 small-12 columns">
        
        <a href="@Url.Action("Dalapi", "Products")">
            <img src="@Url.Content("~/Images/Dalapi.png")" alt="Dalapi - Data Access Layer API" />
        </a>
    </section>
</div>

<div class="row">
    <section class="medium-6 small-12 columns">
        <h3></h3>
    </section>
    <section class="medium-6 small-12 columns">

    </section>
</div>