@{
    ViewBag.Title = "Trailer Online";
}

@section PageBanner{
    <div class="row">
        <div class="large-12 columns" style="padding:0;">
            <img src="@Url.Content("~/Images/TrailerOnline/Banner1/image-1.jpg")" alt=""/>
        </div>
    </div>
}
<div class="row">
    <h1 class="product-title">Trailer Online</h1>
</div>
<div class="row pad">
    <div class="large-4 columns">
        <h3>Features</h3>
        <p>
            Trailer Online is a simple and affordable website for displaying your auto or trailer inventory online. 
        </p>
        <ul>
            <li>Simple to use</li>
            <li>Add products and image online</li>
            <li>Works on phones, tablets, and PCs</li>
        </ul>
    </div>

    <div class="large-4 columns">
        <h3>Value</h3>
        <p>
            Trailer Online is a full-feature website for less than the cost of a website that you can't update.
        </p>
        <ul>
            <li>30-day free trial</li>
            <li>Changes remain after purchase</li>
            <li>Customizable design</li>
        </ul>
    </div>

    <div class="large-4 columns">
        <h3></h3>
        <p>
            
        </p>
    </div>
</div>