@{
    ViewBag.Title = "Trailer Online";
}

@section PageBanner{
    <div class="row">
        <div class="large-12 columns" style="padding:0;">
            <img src="@Url.Content("~/Images/TrailerOnline/Banner1/image-1.jpg")" alt=""/>
        </div>
    </div>
}
<div class="row">
    <h1 class="product-title">Trailer Online</h1>
</div>
<div class="row pad">
    <div class="large-4 columns">
        <p>Display your auto or trailer inventory online.</p>
        <h3>Website Features</h3>
        <ul>
            <li>Free 30-day trial</li>
            <li></li>
            <li></li>
            
        </ul>
    </div>
</div>